@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0, 100%);

  --league-spartan: "League Spartan", sans-serif;
  /* weights: 400, 500, 700 */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: var(--league-spartan);
}

header,
.star-ratings {
  display: flex;
}

header h1 {
  color: var(--very-dark-magenta);
  font-size: 3rem;
}

header p {
  color: var(--dark-grayish-magenta);
}

.star-ratings {
  gap: 12px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating-container {
  display: flex;
  background-color: var(--light-grayish-magenta);
  width: 100%;
  padding: 0.9rem 1.7rem;
  border-radius: 0.45rem;
  gap: 40px;
  align-items: center;
  font-size: 1.1rem;
}

.rating-container p {
  color: var(--very-dark-magenta);
  font-weight: bold;
}

.reviews {
  display: flex;
  margin-top: 4rem;
}

.review-card {
  background-color: var(--very-dark-magenta);
  border-radius: 0.4rem;
  padding: 3rem 2rem;
  position: relative;
}

.review-card-header {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 2rem;
}

.review-card-header > div > p:first-child,
.review-card > p {
  color: white;
}

.review-card-header > div > p:nth-child(2) {
  color: var(--soft-pink);
}

.review-card-header img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.review-card > p {
  line-height: 22px;
}

@media screen and (min-width: 1000px) {
  body {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 70%;
  }

  main {
    display: flex;
    /* width: 80%; */
    margin: 0 auto;
  }

  header,
  main {
    width: 70%;
  }

  header {
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    /* background-color: red; */
  }

  .banner {
    width: 50%;
  }

  .banner h1 {
    width: 65%;
    line-height: 55px;
    font-size: 4.2rem;
  }

  .banner p {
	margin-top: 1.7rem;
	width: 70%;
	font-size: 1.2rem;
}

  .rating-container {
    width: 95%;
  }
  .star-ratings {
    flex-direction: column;
    width: 37%;
  }

  .star-ratings {
    align-items: flex-end;
  }

  .rating-container:nth-child(1) {
    margin-right: 4rem;
  }

  .rating-container:nth-child(2) {
    margin-right: 2rem;
  }

  .reviews {
    gap: 30px;
  }

  .review-card:nth-child(2) {
    position: relative;
    top: 1rem;
  }

  .review-card:nth-child(3) {
    position: relative;
    top: 2rem;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
