@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0, 100%);

  --league-spartan: "League Spartan", sans-serif;
  /* weights: 400, 500, 700 */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  height: 100vh;
  font-family: var(--league-spartan);
}

header,
.star-ratings {
  display: flex;
}

header h1 {
  color: var(--very-dark-magenta);
  font-size: 3rem;
}

header p {
  color: var(--dark-grayish-magenta);
}

header {
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  body {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 70%;
  }

  main {
    display: flex;
    /* width: 80%; */
    margin: 0 auto;
  }

  /* header {
    width: 50%;
  } */

  .star-ratings {
    width: 50%;
  }
}
